

/* header */

/* HERO */
.hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #2F303A;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ),
        url(../img/bc-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    width: 696px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}


.hero__btn {
    display: inline-block;
    border-radius: 4px;
    border: solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    min-width: 216px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

/* feature */

.feature-list {
    display: flex;
    justify-content: space-between;
}

.feature-item {
    width: 270px;
}

.feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}

.feature-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--tittle-text-color);
}

.feature-text {
    line-height: 1.71;
}

/* about */

.about {
    padding-top: 0;
}

.abot-list {
    display: flex;
    justify-content: space-between;
}

.about-item {
    position: relative;
}

.about-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-top: 27px;
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background-color: rgba(47, 48, 58, 0.8);;
}

/* team */
.team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-item {
    width: 270px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-content {
    padding: 30px;
}

.team-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--tittle-text-color);
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;  
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.team-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: var(--icon-color); 
    transition: 
        background-color var(--transition-duration) var(--transition-timing-function), 
        color var(--transition-duration) var(--transition-timing-function); 
}

.team-soc-icon {
    fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

/* clients */

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.client-item {
    width: 170px;
    height: 92px;
}

.client-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
    transition: 
        color var(--transition-duration) var(--transition-timing-function), 
        border var(--transition-duration) var(--transition-timing-function);
}

.client-icon {
    fill: currentColor;
}

.client-link:hover,
.client-link:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer .logo-part {
    color: var(--primary-white-color);
}

address {
    margin-top: 20px;
    font-style: normal;
}

.adress-item:not(:last-child) {
    margin-bottom: 9px;
}

.address-link, .address-contact {
    line-height: 1.71;
    color: var(--primary-white-color);
}

.address-contact {
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--transition-duration) var(--transition-timing-function); 
}

.address-contact:hover, .address-contact:focus {
    color: var(--accent-color);
}

.footer-text {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.footer-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
}

.footer-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--primary-white-color);  
    transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-soc-icon {
    fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
}

/* sign form */

.sign-form {
    display: flex;
}

.sign-mail {
    height: 50px;
    width: 385px;
    padding: 15px 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: #2F303A;
    outline-color: transparent;
    color: var(--primary-white-color);
}

.sign-mail::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.sign-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border: solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.sign-icon {
    margin-left: 10px;
    fill: var(--primary-white-color);
}

/* modal */

.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: 
        opacity var(--transition-duration) var(--transition-timing-function), 
        visibility var(--transition-duration) var(--transition-timing-function);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1, 1);
    width: 528px;
    height: 581px;
    padding: 40px;
    background-color: rgba(255, 255, 255, 1);
    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.5, 0);
}

.modal-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.callback-form {
    display: flex;
    flex-direction: column;
}

.form-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--tittle-text-color);
}

.form-label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-field {
    position: relative;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border-radius: 4px;
    border: transparent;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    transition: outline var(--transition-duration) var(--transition-timing-function);
}

.form-input:focus-within {
    outline: 1px solid var(--accent-color);
}

.form-input:focus-within + .form-icon {
    fill: var(--accent-color);
}

.form-icon {
    position: absolute;
    top: 11px;
    left: 12px;
    fill: var(--tittle-text-color);
    transition: fill var(--transition-duration) var(--transition-timing-function);
}

.form-textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border-radius: 4px;
    resize: none;
    border: transparent;
    outline: 1px solid rgba(33, 33, 33, 0.2);
    transition: outline var(--transition-duration) var(--transition-timing-function);
}

.form-textarea:focus-within {
    outline: 1px solid var(--accent-color);
}

.form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.policy-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    line-height: 1.71;
}

.policy-link {
    color: var(--accent-color);
}

.policy-icon {
    margin-right: 8px;
    fill: var(--primary-white-color);
    cursor: pointer;
    border: 2px solid var(--tittle-text-color);
    background-color: var(--primary-white-color);
    border-radius: 2px;
}

.form-policy:checked + .policy-label .policy-icon {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.btn-submit {
    display: inline-block;
    border-radius: 4px;
    border: solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 52px;
    margin: auto;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
}


/* portfolio */

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

.filter-btn {
    display: inline-block;
    border-radius: 4px;
    border: solid transparent;
    padding: 6px 22px;
    min-width: 73px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--tittle-text-color);
    background-color: #F5F4FA;
    cursor: pointer;
    transition: 
        color var(--transition-duration) var(--transition-timing-function),
        background-color var(--transition-duration) var(--transition-timing-function),
        box-shadow var(--transition-duration) var(--transition-timing-function);
}

.filter-btn:hover, .filter-btn:focus,
.filter-btn.current {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 1px 2px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
    }

.portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.portfolio-link {
    display: block;
    transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-content {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: transparent;
}

.portfolio-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--tittle-text-color);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-text-color);
}

.portfolio-thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);
}

.portfolio-thumb:hover .portfolio-overlay {
    transform: translateY(0);
}