:root {
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --tittle-text-color: #212121;
    --primary-white-color: #FFFFFF;
    --icon-color: #AFB1B8;
    --main-font: 'Roboto';
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}